.card-container {
    position: relative;
    justify-items: center;
    align-items: center;
    margin: 50px auto;
    padding: 10px;
}

.card {
    width: 370px;
    height: 326px;
    top: 85px;
    left: 104px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 8px 15px 0px #1414141F, 0px 0px 4px 0px #1414141A;
}

.home-content {
    width: 370px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 22px;
    flex-direction: row;
    box-sizing: border-box;
    cursor: pointer;
}

.home-font {
    width: 70px;
    height: 18px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #1F2128;
}

.line-container {
    width: 370px;
    height: 20px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    gap: 10px;
    align-items: center;
}

.line {
    display: inline-block;
    width: 340px;
    border: 0.7px solid #CDCDCD;
}

.button-container {
    width: 370px;
    height: 60px;
    margin-top: 7px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    gap: 10px;
    display: flex;
    cursor: pointer;
}

.button {
    width: 340px;
    height: 40px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    background: #FFCE22;
    cursor: pointer;
}

.button-font {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0px;
    margin-bottom: 0;
    margin-top: 0;
}

.button:hover {
    background: #FFD84D;

}

.button:active {
    background: #FFCE22;
}

@media (max-width: 600px) {
    .card-container {
        width: 90%;
        padding: 10px;
    }

    .card {
        width:80%;
        max-width: 90%;
    }
}